*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    max-width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
    font-size: 3rem;
    height: 10rem;
    padding-top: 3rem;
    padding-left: .2rem;
    padding-right: .2rem;
    color: white;
    text-shadow: 2px 2px black;
    width: 100%;
}
.size-wrap{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
header{
    background-color: cyan;
    background-image: url(../img/paws.png);
    background-size: 32%;
    background-repeat: repeat-x;
}
img{
    width: 440px;
    height: 200px;
}

a{
    text-decoration: none;
}
@media(min-width: 768px){
h1{
    text-align: center;
    font-size: 5rem;
    height: 12rem;
    padding-top: 2.5rem;
    color: white;
    text-shadow: 2px 2px black;
}
header{
    background-color: cyan;
    background-image: url(../img/paws.png);
    background-size: 32%;
    background-repeat: repeat-x;
}
}
nav{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 1rem;
}
@media(min-width: 768px){
    nav{
        text-align: center;
        border-bottom: 1px solid lightgray;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
    .menu a{
        text-decoration: none;
        color: black;
        font-size: 1.3rem;
        padding: 1rem;
    }
}
.menu a:hover{
    color: cyan;
}
.need-groomed-wrap{
    margin-top: 3.5rem;
}
.need-groomed-title{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    margin-left: .2rem;
    margin-right: .2rem;
}
.need-groomed{
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.need-groomed p{
    display: block;
    text-align: center;
    margin-left: .2rem;
    margin-right: .2rem;
}
.mobile-sub-wrap img{
    display: flex;
    border-radius: 50%;
    border: 5px solid cyan;

}
.mobile-wrap img{
    display: flex;
    border-radius: 50%;
    border: 5px solid cyan;
}
.mobile-wrap{
    display: flex;
    width: 100%;
    margin-top: 2rem;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}
.mobile-sub-wrap{
    display: flex;
    width: 100%;
    margin-top: 1rem;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}
.tear-stain{
    margin-bottom: 2rem;
    width: 100%;
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.tear-stain img{
    width:130px;
    height:130px;
    margin-left: auto;
    margin-right: auto;
}
.long-nails img{
    width:130px;
    height:130px;
    margin-left: auto;
    margin-right: auto;
}
.tear-stain p{
    line-height: 1.5;
    text-align: center;
    font-size: .92rem;
    font-weight: 400;
}
.long-nails{
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.long-nails p{
    line-height: 1.5;
    text-align: center;
    font-size: .92rem;
    font-weight: 400;
}
.matted-fur{
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.matted-fur p{
    line-height: 1.5;
    text-align: center;
    font-size: .92rem;
    font-weight: 400;
}
.matted-fur img{
    width:130px;
    height:130px;
    margin-left: auto;
    margin-right: auto;
}
.need-groomed-wrap h3{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .2rem;
    font-size: 1.3rem;
}
.anal-gland{
    width: 100%;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.anal-gland p{
    margin: 0 0;
    line-height: 1.5;
    text-align: center;
    font-size: .92rem;
    font-weight: 400;
}
.anal-gland img{
    width:130px;
    height:130px;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width: 768px){
h1{
    text-align: center;
    font-size: 4rem;
    height: 12rem;
    padding-top: 3.5rem;
    color: white;
    text-shadow: 2px 2px black;
    width: 100%;
}
img{
    width: 565px;
    height: 250px;
}
.need-groomed-wrap{
    display: flex;
}
.need-groomed p{
    font-size: 1.1rem;
}
.need-groomed-wrap h3{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}
.need-groomed-wrap img{
    width:250px;
    height:250px;
    border-radius: 50%;
    border: 5px solid cyan;
    margin-left: auto;
    margin-right: auto;
}
.tear-stain{
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
}
.tear-stain p{
    margin: 0 0;
    line-height: 1.5;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
.long-nails{
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
}
.long-nails p{
    margin: 0 0;
    line-height: 1.5;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
.matted-fur{
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 1rem;
}
.matted-fur p{
    margin: 0 0;
    line-height: 1.5;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
.anal-gland{
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 1rem;
}
.anal-gland p{
    margin: 0 0;
    line-height: 1.5;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
}
.services-title{
    text-align: center;
    width: 100%;
    margin-top: 3.5rem;
    font-size: 2rem;
    margin-bottom: 5rem;
    background-color: cyan;
    padding: 2rem 0;
    color:white;
    text-shadow: 1px 2px black;
}
.service-info{
    display: block;
    width: 90%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.service-info2{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.grooming{
    margin-bottom: 1rem;
}.nail-cutting{

    margin-bottom: 1rem;
}
.shots{

    margin-bottom: 1rem;
}
.declawing{

    margin-bottom: 1rem;
}
.fixing{

    margin-bottom: 1rem;
}
.full-service{

    margin-bottom: 1rem;
}
.service-info p{
    line-height: 1.5;
}
.service-info2 p{
    line-height: 1.5;
}
.service-info h3{
    margin-top: .2rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}
.service-info2 h3{
    margin-top: .2rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}
.grooming p{
    font-size: 1.2rem;
    font-weight: 400;
}
.nail-cutting p{
    font-size: 1.2rem;
    font-weight: 400;
}
.shots p{
    font-size: 1.2rem;
    font-weight: 400;
}
.declawing p{
    font-size: 1.2rem;
    font-weight: 400;
}
.fixing p{
    font-size: 1.2rem;
    font-weight: 400;
}
.full-service p{
    font-size: 1.2rem;
    font-weight: 400;
}
@media(min-width: 768px){
.services-title{
    margin-bottom: 6rem;
    font-size: 2.5rem;
}
.service-info{
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: .5rem;
}
.service-info2{
    display: flex;
    width: 100%;
    padding-left: .5rem;
}
.service-info h3{
    margin-top: .2rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}
.service-info2 h3{
    margin-top: .2rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}
.grooming{
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
}
.grooming p{
    font-size: 1.2rem;
    font-weight: 400;
}
.nail-cutting{
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
}
.nail-cutting p{
    font-size: 1.2rem;
    font-weight: 400;
}
.shots{
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
}
.shots p{
    font-size: 1.2rem;
    font-weight: 400;
}
.declawing{
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
}
.declawing p{
    font-size: 1.2rem;
    font-weight: 400;
}
.fixing{
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
}
.fixing p{
    font-size: 1.2rem;
    font-weight: 400;
}
.full-service{
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
}
.full-service p{
    font-size: 1.2rem;
    font-weight: 400;
}
}
.button{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
input[type=submit]{
    display: block;
    background-color: cyan;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
}
input[type=submit]:hover{
    color: white;
    background-color: mediumblue;
    transition-duration: .3s;
}
.footer-info{
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}
footer{
    background-color: black;
    text-align: center;
}
footer p{
    color: white;
    padding-bottom: 1rem;
}
.wrap {
    min-height:calc(100vh - 156px);
  }
@media (min-width: 768px) {
    .wrap {
      min-height:calc(100vh - 156px);
    }
}